@font-face{
  font-family: "Recoleta", sans-serif;
  font-weight: normal;
  src: url("../fonts/Recoleta-Regular.ttf");
}
@font-face{
  font-family: "Recoleta", sans-serif;
  font-weight: bold;
  src: url("../fonts/Recoleta-Bold.ttf");
}

#actionbody{
  background-color: #2B2D42 !important;
}

.app{
  font-family: "Recoleta", sans-serif !important;
  color:white;
  top: 0 !important;
  vertical-align: center;
}
.action{
  color:black !important;
}

.addTab{
  margin-top:15px;
}
.introText{
  text-align:center;
}
